.list {
  padding: 40px;
}

.list__table {
  margin: 10px;
}

.list__table-list {
  margin: 10px;
}
.btn {
  font-size: 15px;
  font-stretch: condensed;
  letter-spacing: 1px
}

.delete-link {
  cursor: pointer;
}
