<div class="news-page">
  <ul>
    <li>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam fugit ipsa mollitia porro reprehenderit rerum ullam ut vero? Ab, asperiores, cum cupiditate delectus deserunt dicta eos explicabo magnam nam officiis omnis perferendis placeat ratione recusandae similique tempore ullam vel voluptas! Accusamus, cupiditate dolorum impedit in modi placeat ratione rerum.
    </li>
    <li>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam fugit ipsa mollitia porro reprehenderit rerum ullam ut vero? Ab, asperiores, cum cupiditate delectus deserunt dicta eos explicabo magnam nam officiis omnis perferendis placeat ratione recusandae similique tempore ullam vel voluptas! Accusamus, cupiditate dolorum impedit in modi placeat ratione rerum.
    </li>
    <li>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam fugit ipsa mollitia porro reprehenderit rerum ullam ut vero? Ab, asperiores, cum cupiditate delectus deserunt dicta eos explicabo magnam nam officiis omnis perferendis placeat ratione recusandae similique tempore ullam vel voluptas! Accusamus, cupiditate dolorum impedit in modi placeat ratione rerum.
    </li>
    <li>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam fugit ipsa mollitia porro reprehenderit rerum ullam ut vero? Ab, asperiores, cum cupiditate delectus deserunt dicta eos explicabo magnam nam officiis omnis perferendis placeat ratione recusandae similique tempore ullam vel voluptas! Accusamus, cupiditate dolorum impedit in modi placeat ratione rerum.
    </li>
    <li>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam fugit ipsa mollitia porro reprehenderit rerum ullam ut vero? Ab, asperiores, cum cupiditate delectus deserunt dicta eos explicabo magnam nam officiis omnis perferendis placeat ratione recusandae similique tempore ullam vel voluptas! Accusamus, cupiditate dolorum impedit in modi placeat ratione rerum.
    </li>
    <li>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam fugit ipsa mollitia porro reprehenderit rerum ullam ut vero? Ab, asperiores, cum cupiditate delectus deserunt dicta eos explicabo magnam nam officiis omnis perferendis placeat ratione recusandae similique tempore ullam vel voluptas! Accusamus, cupiditate dolorum impedit in modi placeat ratione rerum.
    </li>
  </ul>
</div>
