/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
  margin: 0;
  padding: 0;
}

.btn {
  text-decoration: none;
  display: inline-block;
  width: 110px;
  height: 30px;
  line-height: 30px;
  border-radius: 30px;
  margin: 10px 20px;
  font-family: 'Courier', sans-serif;
  font-size: 18px;
  /*text-transform: uppercase;*/
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}

.btn:hover {
  background: #23ff06;
  box-shadow: 0 15px 20px rgba(62, 7, 110, 0.4);
  color: white;
  transform: translateY(-7px);
}

.btn:disabled {
  text-decoration: none;
  display: inline-block;
  width: 110px;
  height: 30px;
  line-height: 30px;
  border-radius: 30px;
  margin: 10px 10px;
  font-family: 'Courier', sans-serif;
  font-size:18px;
  /*text-transform: uppercase;*/
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: #423e3e;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.body {
  height: 100vh;
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.header {
  background-color: palegoldenrod;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.workplace {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #aeadd7;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 8;
}

.card {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
  width: 100%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.alert-danger {
  background-color: red;
  color: yellow;
}

.alert-info {
  background-color: green;
  color: yellow;
  margin-left: auto;
  margin-right: auto;
  max-width:320px;
}

.reservation-table {
  margin: 10px;
  font-size: 20px;
  padding: 10px;
}


table {
  border-spacing: 15px;
  border: 1px solid grey;
}

th {
  border: 1px solid grey;
}

td {
  border: 1px solid grey;
}
