.body {
  height: 100vh;
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.header {
  background-color: palegoldenrod;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;

}

.dashboard {
  background-color: rgb(169, 142, 199);
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 8;
}

.workplace {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #aeadd7;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 8;
}


